<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4 sm:gap-6">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">About us</h1>
      <p class="text-primary-950/70 dark:text-primary-200/70 mx-auto max-w-xl text-lg sm:text-xl">
        At Bacalhau Games, we strive to craft unforgettable gaming experiences infused with the bold flavors of Portuguese culture—our creativity, 
        our resilience, and our passion for discovery. Like the explorers of old, we navigate uncharted waters, blending technical ambition with heartfelt 
        storytelling to create games that resonate globally.
      </p>
    </div>
  </div>
</section>
