---
let base = import.meta.env.BASE_URL.replace(/\/$/, ''); // Remove trailing slash

const stats = [
  {
    name: 'Years',
    value: '5',
  },
  {
    name: 'Experts',
    value: '10',
  },
  {
    name: 'Projects',
    value: '10',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src=`${base}/assets/about.webp`
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              At [COMPANY_NAME], we take pride in our Portuguese roots, bringing our dedication, 
              creativity, and ambition to every project we take on
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              We seek out engaging and challenging opportunities that push us to innovate, 
              delivering high-quality, fun, and immersive experiences to the gaming world.. 
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Founded two years ago, we are a tight-knit team of 10 highly skilled and experienced developers, 
              each bringing 5 to 10+ years of expertise across multiple technologies and game development contexts.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
