---
const values = [
  [
    {
      ref: '01',
      name: 'Saudade & Spark (Nostalgia with a Twist)',
      description:
        'We honor tradition but never cling to it. Like Portugal’s saudade—a longing for the past—we draw inspiration from our own gaming roots, then push to reinvent them with bold, modern gameplay. In our team and partnerships, we value heritage as a launchpad, not a limit.',
    },
    {
      ref: '02',
      name: 'Maritime Mentality (Explore Together)',
      description:
        'Great games, like great voyages, demand trust and shared direction. We cultivate open communication, adaptability, and a willingness to venture into the unknown—whether across disciplines or across borders with partner studios.',
    },
    {
      ref: '03',
      name: 'Caldeirada Culture (Strength in the Mix)',
      description:
        'Named after Portugal’s iconic fish stew, we believe the best ideas emerge when diverse "ingredients" come together. We actively seek perspectives—from our team to collaborators—knowing that friction refines brilliance, and every voice adds flavor.',
    },
    {
      ref: '04',
      name: 'Technical with Alma (Skill with Soul)',
      description:
        'We marry technical excellence with emotional depth. For our team, this means mastery paired with passion; for our partners, it means delivering work that’s polished, well produced and pulsating with life—games that feel handcrafted, not factory-made.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Values</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
          <div class="space-y-8 contents">
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
